<!--
     @author: Marco Giberna
     @email: marco.giberna@studenti.units.it
     @email: marcogiberna@gmail.com
-->

<launch>
  <!-- not needed as it is already loaded from gazebo-->
  <!--arg declaration for xacro command-->
  
  <arg name="model" default="$(find robot4ws_description)/urdf/rover.urdf.xacro"/>
  <arg name="default_world" default="false"/>
  <arg name="world_name" default="only_walls.world"/>
  <!-- <arg name="world_name" default="MSL_Gale_DEM_Mosaic_1m_v3_X_14315-14364_Y_47079-47098_v1.world"/> -->
  <arg name="world_path_custom" default="$(find robot4ws_description)/urdf/worlds"/> <!--$(find robot4ws_description)/urdf/worlds/step.world-->

  <arg name="use_rviz" default="false"/>
  <arg name="start_qt_gui" default="false"/>
  <arg name="include_plugins" default="true"/>
  <arg name="include_kinematics_plugin" default="true"/>
  <arg name="include_ros_control" default="false"/>
  <arg name="pos_x" default="0"/>
  <arg name="pos_y" default="0"/>
  <arg name="pos_z" default="0.17"/>
  <!-- <arg name="pos_z" default="0.30"/> -->
  <!-- <arg name="pos_z" default="6.009720"/> <!- for MSL_Gale_DEM_Mosaic_1m_v3_X_14315-14364_Y_47079-47098_v1 -->
  <arg name="pos_roll" default="0"/>
  <arg name="pos_pitch" default="0"/>
  <arg name="pos_yaw" default="0"/>
  <!-- <arg name="pos_pitch" default="0.294121"/> <!- for MSL_Gale_DEM_Mosaic_1m_v3_X_14315-14364_Y_47079-47098_v1 -->
  <!-- <arg name="pos_yaw" default="0"/> -->

  <!-- Model related arguments -->
  <arg name="show_imu" default="false"/>
  <arg name="show_cameras" default="false"/>
  <arg name="show_laser_scan" default="false"/>
  <arg name="show_pi_camera" default="false"/>
  <arg name="show_realsense" default="false"/>

  <arg name="rocker_differential" default="false"/>
   
  <!--loading .urdf file, which is built from xacro file by means of xacro command--> 
  <param name="robot_description"
    command="$(find xacro)/xacro $(arg model) include_plugins:=$(arg include_plugins)
     include_kinematics_plugin:=$(arg include_kinematics_plugin) include_ros_control:=$(arg include_ros_control)
     show_cameras:=$(arg show_cameras) visualize_scan:=$(arg show_laser_scan) visualize_imu:=$(arg show_imu)
     visualize_pi_camera:=$(arg show_pi_camera) visualize_realsense:=$(arg show_realsense) rocker_differential:=$(arg rocker_differential)"/>

  <!--not needed because also already run by gazebo-->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />
 <?ignore
  ?>


  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find robot4ws_slam)/configuration_files
          -configuration_basename archimede_3d.lua"
      output="screen">
    <remap from="points2" to="/Archimede/d435i_camera/depth/color/points" />
    <remap from="scan" to="/Archimede/scan"/>
    <remap from="imu" to="/Archimede/imu"/>
    <remap from="odom" to="/Archimede/odom"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
  
  <node name="rviz" pkg="rviz" type="rviz" required="true"
    args="-d $(find robot4ws_slam)/configuration_files/rviz/cartographer.rviz" />

</launch>